.desktop-5-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 121px;
}
.logo-1-icon1 {
  position: absolute;
  top: 25px;
  left: 284px;
  width: 143px;
  height: 71px;
  object-fit: cover;
  cursor: pointer;
}
.desktop-5-inner,
.desktop-5-item {
  position: absolute;
  top: 40px;
  left: 536px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 344px;
  height: 41px;
}
.desktop-5-inner {
  left: 880px;
  background-color: var(--color-black);
  width: 87px;
}
.gi-hng4,
.ng-nhp3,
.tm-kim6,
.tm-kim7 {
  position: absolute;
  display: inline-block;
}
.tm-kim6 {
  top: 55px;
  left: 880px;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  width: 83px;
  height: 14px;
}
.gi-hng4,
.ng-nhp3,
.tm-kim7 {
  top: 54px;
  left: 547px;
  font-size: var(--font-size-mini);
  width: 150px;
  height: 27px;
}
.gi-hng4,
.ng-nhp3 {
  top: 81px;
  left: 1032px;
  font-size: var(--font-size-5xs);
  width: 118px;
  height: 6px;
}
.gi-hng4 {
  left: 1184px;
  width: 54px;
  height: 9px;
}
.icon-cart2,
.icon-person2 {
  position: absolute;
  height: 0.81%;
  width: 4.32%;
  top: 1.29%;
  right: 14.85%;
  bottom: 97.89%;
  left: 80.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-person2 {
  height: 0.73%;
  width: 3.35%;
  top: 1.01%;
  right: 24.01%;
  bottom: 98.26%;
  left: 72.64%;
}
.image-1-icon1 {
  top: 122px;
  height: 58px;
  object-fit: cover;
}
.desktop-5-child1,
.image-1-icon1,
.image-2-icon1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.image-2-icon1 {
  top: 180px;
  height: 406px;
  object-fit: cover;
}
.desktop-5-child1 {
  top: 586px;
  background-color: var(--color-white);
  height: 133px;
}
.privacy-1-image-1-icon1,
.privacy-2-image-1-icon1 {
  position: absolute;
  top: 631px;
  left: 98px;
  width: 42px;
  height: 41px;
  object-fit: cover;
}
.privacy-2-image-1-icon1 {
  top: 637px;
  left: 436px;
  width: 35px;
  height: 29px;
}
.danh-mc1 {
  position: absolute;
  top: 755px;
  left: 82px;
  font-family: var(--font-arimo);
  color: var(--color-white);
}
.privacy-3-image-1-icon1,
.privacy-4-image-1-icon1 {
  position: absolute;
  top: 627px;
  left: 763px;
  width: 46px;
  height: 45px;
  object-fit: cover;
}
.privacy-4-image-1-icon1 {
  left: 1083px;
  width: 47px;
}
.chng-trnh-sale1,
.chnh-hng-1001,
.i-tr-nhanh1,
.t-hng-online1 {
  position: absolute;
  top: 637px;
  left: 170px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 254px;
  height: 30px;
}
.chng-trnh-sale1,
.i-tr-nhanh1,
.t-hng-online1 {
  top: 640px;
  left: 518px;
  width: 175px;
  height: 31px;
}
.chng-trnh-sale1,
.t-hng-online1 {
  top: 631px;
  left: 840px;
  width: 170px;
  height: 47px;
}
.t-hng-online1 {
  top: 638px;
  left: 1154px;
  width: 217px;
  height: 30px;
}
.desktop-5-child2 {
  position: absolute;
  top: 719px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 110px;
}
.best-seller1,
.new-arrival1 {
  position: absolute;
  font-family: var(--font-abeezee);
}
.best-seller1 {
  top: 755px;
  left: 549px;
  font-size: var(--font-size-17xl);
}
.new-arrival1 {
  top: 758px;
  left: 303px;
}
.desktop-5-child3 {
  position: absolute;
  top: 719px;
  left: 0;
  background-color: var(--color-black);
  width: 268px;
  height: 110px;
}
.adidas1,
.qun-o-v2 {
  position: absolute;
  top: 755px;
  left: 1015px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-abeezee);
}
.adidas1 {
  left: 805px;
}
.danh-mc2 {
  position: absolute;
  top: 758px;
  left: 46px;
  font-family: var(--font-arimo);
  color: var(--color-white);
}
.desktop-5-child4 {
  position: absolute;
  top: 789px;
  left: -7px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 2283px;
}
.tr-v {
  position: absolute;
  top: 858px;
  left: 48px;
  font-size: var(--font-size-xl);
  font-family: var(--font-arimo);
}
.nam-giy-new-arrivals {
  position: absolute;
  top: 901px;
  left: 48px;
  font-family: var(--font-bakbak-one);
}
.desktop-5-child5,
.desktop-5-child6 {
  position: absolute;
  top: 966px;
  left: 37px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 302px;
  height: 592px;
}
.desktop-5-child6 {
  top: 1633px;
}
.div31 {
  position: absolute;
  top: 1307px;
  left: 1124px;
  font-size: var(--font-size-base);
}
.desktop-5-child7,
.desktop-5-child8 {
  position: absolute;
  top: 2471px;
  left: 37px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 302px;
  height: 592px;
}
.desktop-5-child8 {
  left: 748px;
}
.desktop-5-child10,
.desktop-5-child11,
.desktop-5-child12,
.desktop-5-child13,
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16,
.desktop-5-child9 {
  position: absolute;
  top: 2471px;
  left: 1099px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 302px;
  height: 592px;
}
.desktop-5-child10,
.desktop-5-child11,
.desktop-5-child12,
.desktop-5-child13,
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16 {
  left: 391px;
}
.desktop-5-child11,
.desktop-5-child12,
.desktop-5-child13,
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16 {
  top: 1633px;
  left: 1099px;
}
.desktop-5-child12,
.desktop-5-child13,
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16 {
  left: 745px;
}
.desktop-5-child13,
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16 {
  left: 391px;
}
.desktop-5-child14,
.desktop-5-child15,
.desktop-5-child16 {
  top: 966px;
  left: 1099px;
}
.desktop-5-child15,
.desktop-5-child16 {
  left: 745px;
}
.desktop-5-child16 {
  top: 963px;
  left: 391px;
}
.image-16-icon,
.image-17-icon,
.image-18-icon {
  position: absolute;
  top: 983px;
  left: 405px;
  width: 274px;
  height: 352px;
  object-fit: cover;
}
.image-17-icon,
.image-18-icon {
  left: 759px;
}
.image-18-icon {
  left: 1113px;
}
.image-19-icon,
.image-20-icon,
.image-21-icon,
.image-22-icon,
.image-26-icon {
  position: absolute;
  top: 1649px;
  left: 51px;
  width: 274px;
  height: 352px;
  object-fit: cover;
}
.image-20-icon,
.image-21-icon,
.image-22-icon,
.image-26-icon {
  left: 405px;
}
.image-21-icon,
.image-22-icon,
.image-26-icon {
  top: 2485px;
  left: 1113px;
}
.image-21-icon,
.image-22-icon {
  top: 1649px;
  left: 759px;
}
.image-22-icon {
  left: 1113px;
}
.page {
  position: absolute;
  top: 2296px;
  left: 569px;
  font-family: var(--font-bakbak-one);
}
.desktop-5-child17,
.desktop-5-child18,
.desktop-5-child19,
.ellipse-div {
  position: absolute;
  top: 2290px;
  left: 691px;
  border-radius: 50%;
  background-color: var(--color-red);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 57px;
  height: 57px;
}
.desktop-5-child17,
.desktop-5-child18,
.desktop-5-child19 {
  left: 759px;
  background-color: var(--color-white);
}
.desktop-5-child18,
.desktop-5-child19 {
  left: 827px;
}
.desktop-5-child19 {
  left: 895px;
}
.div33,
.div34,
.div35,
.div36,
.sn-phm-xem {
  position: absolute;
  top: 2296px;
  font-family: var(--font-bakbak-one);
}
.div33 {
  left: 713px;
  color: var(--color-white);
}
.div34,
.div35,
.div36,
.sn-phm-xem {
  left: 779px;
}
.div35,
.div36,
.sn-phm-xem {
  left: 847px;
}
.div36,
.sn-phm-xem {
  left: 916px;
}
.sn-phm-xem {
  top: 2390px;
  left: 37px;
  font-family: var(--font-roboto);
}
.image-23-icon {
  position: absolute;
  top: 2485px;
  left: 51px;
  width: 274px;
  height: 352px;
  object-fit: cover;
}
.image-24-icon {
  top: 2485px;
  left: 405px;
}
.image-15-icon,
.image-24-icon,
.image-25-icon {
  position: absolute;
  width: 274px;
  height: 352px;
  object-fit: cover;
}
.image-25-icon {
  top: 2485px;
  left: 759px;
  cursor: pointer;
}
.image-15-icon {
  top: 981px;
  left: 52px;
}
.desktop-5-child20 {
  position: absolute;
  top: 1302px;
  left: 52px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 120px;
  height: 33px;
}
.text {
  position: absolute;
  top: 1326px;
  left: 69px;
  font-size: var(--font-size-xs);
}
.desktop-5-child21,
.desktop-5-child22,
.desktop-5-child23 {
  position: absolute;
  top: 2804px;
  left: 1113px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 120px;
  height: 33px;
}
.desktop-5-child22,
.desktop-5-child23 {
  left: 760px;
}
.desktop-5-child23 {
  left: 406px;
}
.desktop-5-child24,
.desktop-5-child25,
.desktop-5-child26,
.desktop-5-child27,
.desktop-5-child28,
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  position: absolute;
  top: 2804px;
  left: 52px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 120px;
  height: 33px;
}
.desktop-5-child25,
.desktop-5-child26,
.desktop-5-child27,
.desktop-5-child28,
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  top: 1968px;
  left: 1113px;
}
.desktop-5-child26,
.desktop-5-child27,
.desktop-5-child28,
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  left: 758px;
}
.desktop-5-child27,
.desktop-5-child28,
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  left: 405px;
}
.desktop-5-child28,
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  left: 52px;
}
.desktop-5-child29,
.desktop-5-child30,
.desktop-5-child31 {
  top: 1300px;
  left: 1112px;
}
.desktop-5-child30,
.desktop-5-child31 {
  left: 758px;
}
.desktop-5-child31 {
  left: 405px;
}
.div37,
.div38,
.div39,
.div40,
.div41,
.div42,
.div43 {
  position: absolute;
  top: 1307px;
  left: 410px;
  font-size: var(--font-size-xl);
}
.div38,
.div39,
.div40,
.div41,
.div42,
.div43 {
  left: 764px;
}
.div39,
.div40,
.div41,
.div42,
.div43 {
  left: 57px;
}
.div40,
.div41,
.div42,
.div43 {
  left: 1118px;
}
.div41,
.div42,
.div43 {
  top: 2813px;
  left: 57px;
}
.div42,
.div43 {
  left: 411px;
}
.div43 {
  top: 2815px;
  left: 777px;
  font-size: var(--font-size-base);
}
.div44,
.div45,
.div46,
.div47,
.div48 {
  position: absolute;
  top: 1975px;
  left: 57px;
  font-size: var(--font-size-xl);
}
.div45,
.div46,
.div47,
.div48 {
  top: 1973px;
  left: 411px;
}
.div46,
.div47,
.div48 {
  top: 1975px;
  left: 765px;
}
.div47,
.div48 {
  left: 1123px;
}
.div48 {
  top: 2815px;
  left: 1131px;
  font-size: var(--font-size-base);
}
.nam-originals {
  margin: 0;
}
.nam-originals-container {
  position: absolute;
  top: 1358px;
  left: 401px;
}
.handball-spezial-2500000-container {
  position: absolute;
  top: 1358px;
  left: 60px;
  display: inline-block;
  width: 263px;
}
.nam-originals1,
.nam-originals2 {
  position: absolute;
  top: 1366px;
  display: inline-block;
}
.nam-originals1 {
  left: 761px;
  white-space: pre-wrap;
  width: 275px;
}
.nam-originals2 {
  left: 1114px;
  width: 303px;
}
.nam-originals-container1,
.nam-originals3 {
  position: absolute;
  top: 2018px;
  display: inline-block;
}
.nam-originals3 {
  left: 55px;
  white-space: pre-wrap;
  width: 281px;
  height: 101px;
}
.nam-originals-container1 {
  left: 755px;
  width: 285px;
}
.nam-originals5,
.nam-sportswear,
.originals-superstar-xlg {
  position: absolute;
  top: 2018px;
  left: 401px;
  display: inline-block;
  width: 276px;
}
.nam-sportswear,
.originals-superstar-xlg {
  left: 1119px;
  width: 225px;
}
.nam-sportswear {
  top: 2870px;
  left: 44px;
  white-space: pre-wrap;
  width: 282px;
}
.nam-originals6,
.nam-sportswear1,
.sportswear-ultraboost-10-container {
  position: absolute;
  top: 2870px;
  left: 399px;
  display: inline-block;
  width: 274px;
}
.nam-originals6,
.nam-sportswear1 {
  left: 746px;
  white-space: pre-wrap;
  width: 296px;
}
.nam-originals6 {
  left: 1107px;
  width: 272px;
}
.desktop-5-child32 {
  position: absolute;
  top: 3072px;
  left: 0;
  background-color: #f5e134;
  width: 1433px;
  height: 95px;
}
.desktop-5-child33,
.desktop-5-child34 {
  position: absolute;
  width: 338px;
  height: 59px;
}
.desktop-5-child33 {
  top: 3105px;
  left: 920px;
  background-color: #dbc9c9;
}
.desktop-5-child34 {
  top: 3090px;
  left: 905px;
  background-color: var(--color-black);
}
.ng-k-min,
.tr-thnh-hi {
  position: absolute;
  top: 3101px;
}
.tr-thnh-hi {
  left: 43px;
  font-size: var(--font-size-17xl);
}
.ng-k-min {
  left: 912px;
  color: var(--color-white);
}
.giy {
  margin-bottom: 0;
}
.sn-phm-giy-qun-o-ph-kin {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.sn-phm-giy-container,
.th-thao-chy-container {
  position: absolute;
  top: 3191px;
  left: 0;
  font-size: var(--font-size-xl);
}
.th-thao-chy-container {
  left: 255px;
}
.b-su-tp-container,
.h-tr-tr-container,
.thng-tin-v-container {
  position: absolute;
  top: 3191px;
  left: 448px;
  font-size: var(--font-size-xl);
}
.h-tr-tr-container,
.thng-tin-v-container {
  left: 776px;
}
.h-tr-tr-container {
  left: 1083px;
}
.image-34-icon,
.theo-di-chng {
  position: absolute;
  top: 3503px;
  left: 0;
}
.image-34-icon {
  top: 3557px;
  left: 11px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.image-35-icon,
.image-36-icon,
.image-37-icon,
.image-38-icon,
.image-39-icon {
  position: absolute;
  top: 3557px;
  left: 48px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.image-36-icon,
.image-37-icon,
.image-38-icon,
.image-39-icon {
  left: 84px;
}
.image-37-icon,
.image-38-icon,
.image-39-icon {
  top: 3597px;
  left: 11px;
}
.image-38-icon,
.image-39-icon {
  left: 48px;
}
.image-39-icon {
  left: 84px;
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: #fef8f8;
  height: 3694px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
